doctype html
html
    head
        title= appTitle
        script(type="text/javascript", src="https://code.jquery.com/jquery-3.5.1.min.js")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        script(type="text/javascript", src="js/bootstrap.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        #wrap
            .container
                h1.page-header= appTitle
                p.lead Welcome to example from Express.js Experience by&nbsp;
                    a(href="http://twitter.com/Enkronan") @Enkronan
                    |. Please Enjoy.
                block page
                block header
                    div
                        include includes/header
                block alert
                    div.alert.alert-warning.hidden
                .content
                    block content
        
        block footer
            footer
                .container
                    p
                        | Copyright &copy; 2018 | Issues? Submit to 
                        a(href="https://github.com/azat-co/blog-express/issues") GitHub
                        | .